.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9d5db6;
}

.auth-wrapper {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.auth-inner {
    margin-top: 10px;
}
